<h2>Part A</h2>

<form>
  <div class="form-group">
    <p>Celcius</p>
    <input [(ngModel)]="celcius" type="text" class="form-control" (keyup)="celciusToFahrenheit()" name="celcius" id="celcius" placeholder="Enter celcius">
  </div>

    <div class="form-group">
    <p>Fahrenheit</p>
    <input [(ngModel)]="fahrenheit" type="text" class="form-control" (keyup)="fahrenheitToCelcius()" name="fahrenheit" id="fahrenheit" placeholder="Enter fahrenheit">
  </div>

  <div class="form-group">
    <button type="submit" onClick="convert()" class="btn btn-primary">convert</button>
  </div>
  <p>Total conversions: </p>
</form>
